body{
	color: green;
	font-family: Verdana, Arial, Geneva, Arial Black;
	font-weight: normal;
	background-image:url(stemblocks.png);
	margin: 0px;
	}
	
	h1 {
	color: green;
	background-color: yellow;
	text-decoration: underline;
	font-size: 150%;
	text-align:center;
	width: 150px;
	margin-left: 40%;
	margin-right: 40%;
	Border: black 2px solid;
	
	}
	
	h2 {
	color: black;
	background-color: orange;
	text-decoration: underline;
	font-size: 150%;
	text-align:center;
	padding: 5px 10px 5px 10px;
	margin: 0px;
	}
	
	/*<!-- Openining paragraph -->*/
	p.para1 {
	color:black;
	font-size:15px;
	line-height:1.5em;
	background-color:#e5e4e7;
	padding: 20px;
	margin: 0px;
	border-color: black;
	border-width: 2px;	
	border-style:solid;	
	background-image: url(zimgblue.png);
	}
	
	p.para2 {
	color:black;
	font-size:15px;
	line-height:1.5em;
	background-color:lightblue;
	padding: 20px;
	margin: 0px;
	border: black 2px solid;	
	background-image:;
	margin: 2px 5px 0px 5px;
	}
	
	p.para3 {
	color:black;
	text-align: center;
	font-size:15px;
	line-height:1.5em;
	background-color:lightblue;
	padding: 20px;
	border: black 2px solid;	
	background-image:;
	margin: 20px 5px 2px 0px;
	}
	
	/*<!-- paragraphs for projects (option 1) -->*/
	p.paragraph {
	color:black;
	font-size:15px;
	line-height:1.5em;
	background-color:#e5e4e7;
	padding: 20px;/*padding goes top right bottom left for values same with margin*/
	border-color: black;
	border-width: 2px;	
	border-style: solid;
	background-image:;
	}
	
	p.paragraphy {
		color:black;
		font-size:15px;
		line-height:1.5em;
		background-color:rgb(60, 172, 200);
		padding: 20px;/*padding goes top right bottom left for values same with margin*/
		border-color: black;
		border-width: 2px;	
		border-style: solid;
		background-image:;
	}
	
	p.paragraphr {
		color:black;
		font-size:15px;
		line-height:1.5em;
		background-color:#C24D4D;
		padding: 20px;/*padding goes top right bottom left for values same with margin*/
		border-color: black;
		border-width: 2px;	
		border-style: solid;
		background-image:;
	}
	
	p.paragraphg {
		color:black;
		font-size:15px;
		line-height:1.5em;
		background-color:#3DBE4C;
		padding: 20px;/*padding goes top right bottom left for values same with margin*/
		border-color: black;
		border-width: 2px;	
		border-style: solid;
		background-image:;
	}
	
	}
	
	.imagea {
	display: box;
	margin-left: auto;
	margin-right:auto;
	padding: 2px;
	background-color:silver;
	border-color: black;
	border-width: 2px;	
	border-style: solid;		
	}
	
	.imageb {
	float: left;	
	padding:;
	border: black 2px solid;
	margin-right: 2px;
	width: 40px;	
	}
	
	/*example image in project abstract*/
	.imagec {
	float: left;	
	padding:;
	border: black 2px solid;
	margin: 0px 2px 0px 0px;	
	width: 40px;		
	}
	
	/*<!-- below all menu bar stuff -->*/
	#navbar {
	background-color: darkgreen;
	height: 35px;
	font-size: 25px;
	font-weight: bold;
	font: Tahoma;
	}
	
	#navbar ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
		text-align: center;
	}
	
	#navbar li{
		display: inline;
		padding: 10px;
		vertical-align: middle;
	}
	
	#navbar a{
		text-decoration: none;
		padding: 8px 8px 8px 8px;
		color: black;
		vertical-align: middle;
		
		background: #e7e7e7;
		border: 1px solid;
		border-radius: 3px;
		font: 700 17px Helvetica,Arial;
		height: 30px;
		padding: 0 20px;
		text-align: center;
		margin-right: 10px;
		box-sizing: border-box;
	}
	
	#navbar a:hover{
	
		color: purple;
		background-color: white;
		cursor: hand;
	
	}
	
	/*<!-- division for styling of websites hopefully doesnt mess up inheritance -->*/
	#divIntroduction {
	color:black;
	}
	
	#DivProjects {
	color:black;
	width: 75%;	
	Float: left;
	}
	
	#DivSearch {
	color:black;
	width: 25%;	
	Float: right;
	Margin: -5px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* found the fix in the end, but I would prefer to use the div tag
	#studentwork {
	color:black;
	font-size: 15;
	line-height:1.5em;
	background-color:yellow;
	padding: 0px;
	border-color: black;
	border-width: 2px;	
	border-style:solid;	
	background-image:;
	}
	 option 2 students make a div id="student work"
	#studentwork {
	color:black;
	font-size: 15;
	line-height:1.5em;
	background-color:yellow;
	padding: 20px;
	border-color: black;
	border-width: 2px;	
	border-style:solid;	
	background-image:;
	}
	 not using the div tag method, because it adds extra "space above and below the paragraph that I cannot get rid of or figure out how to effect!!!! agh, spent an hour on that!
	 quite a bit later, I copy and pasted and it back in because it appears tha it needs a padding of 0px for some reason to be the same as the 20px that the class .paragraph 
	identifier has.  I realized this after watching css video 18 CSS Box Model Paart 2 */
	
	
	
	
	/*<!--Button code is below-->
	
	.button {
		background: #e7e7e7;
		border: 1px solid;
		border-radius: 3px;
		font: 700 13px Helvetica,Arial;
		height: 30px;
		padding: 0 20px;
		text-align: center;
		margin-right: 10px;
		box-sizing: border-box;
	}
	ul {
		padding: 0;
		list-style-type: none;	
	}
	
	li {
		display:inline;
	}
	
	a {
		color: #666;
		test-decoration: none;
		float: left;
	}
	
	a:hover {
		color: #000;
		background-color: #dadada;
	}
	
	 end?*/